.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  outline: 1px solid gray;
  width: 40%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.gridItem {
  text-align: center;
  font-size: 1.2em;
}
/* selects odd-numbered grid items and adds a right border.*/
.gridItem:nth-child(odd) {
  border-right: 1px solid gray;
}
